<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ asset('build/app-styles.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<h1>
    Blabla
</h1>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolores fugiat fugit iste molestiae, natus nulla
    quaerat quisquam rem sequi. Blanditiis cumque maxime molestias necessitatibus quia quis sequi sit. Fugit.
</div>
<div>Accusamus architecto asperiores, aspernatur cumque dicta explicabo facere maiores pariatur praesentium quae quam
    quibusdam repudiandae similique sit suscipit temporibus voluptatem. Aliquid at ducimus exercitationem hic in magni
    nulla quo sequi.
</div>
</body>
</html>
